<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>素敵なモノと出会う場所</h1>
      <%= link_to 'モノリストを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-inner inner-default clearfix">
    <% @wants.each do |want| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if want.large_image.present? %>
              <%= image_tag(want.large_image , alt: want.title) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: want.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= want.title %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>